/* FONTS */
/* montserrat-regular - cyrillic_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-cyrillic_latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-cyrillic_latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - cyrillic_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-cyrillic_latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-cyrillic_latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - cyrillic_latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"),
    url("../fonts/roboto-slab-v10-cyrillic_latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v10-cyrillic_latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-italic - cyrillic_latin */
@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  src: local("Noto Serif Italic"), local("NotoSerif-Italic"),
    url("../fonts/noto-serif-v8-cyrillic_latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/noto-serif-v8-cyrillic_latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 58.75rem;
  margin: 0 auto;
}

/* HEADER SECTION */
.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0 7.25rem;
}

.site-logo {
  display: inline-block;
}

.site-navigation-list {
  width: 30rem;
  display: flex;
  justify-content: space-between;
}

.site-navigation-link {
  display: block;
  font-size: 0.875rem;
  color: #222222;
  text-transform: uppercase;
  transition: color 0.2s linear;
}

.site-navigation-link:hover {
  color: #fed136;
}

/* SERVICES SECTION */
.services {
  padding-bottom: 7.5rem;
}
.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.0625rem;
  margin-bottom: 1rem;
}

.section-subtitle {
  font-family: "Noto Serif", serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  color: #777777;
  margin-bottom: 4.875rem;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-item {
  width: 17.5rem;
}

.services-item-title::before {
  display: block;
  content: "";
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.services-item:first-child .services-item-title::before {
  background-image: url(../images/icons/icon-basket.png),
    url(../images/icons/circle-1.png);
}

.services-item:nth-child(2) .services-item-title::before {
  background-image: url(../images/icons/icon-laptop.png),
    url(../images/icons/circle-1.png);
}

.services-item:nth-child(3) .services-item-title::before {
  background-image: url(../images/icons/icon-locked.png),
    url(../images/icons/circle-1.png);
}

.services-item-title {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.0281rem;
  margin-bottom: 1rem;
}

.services-item-description {
  font-family: "Roboto Slab", serif;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.0219rem;
  color: #777777;
}

/* CONTACTS SECTION */
.contacts {
  min-height: 42.1875rem;
  padding-top: 6.625rem;
  border-bottom: 20px solid #222222;
  background-image: url("../images/map_image.png"),
    linear-gradient(#222222, #222222);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.contacts .section-title {
  color: #fff;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputs-item input,
.client-message {
  width: 28.4375rem;
  padding: 1.125rem 1.25rem;
  border: 1px solid #cccccc;
}

.inputs-item input {
  height: 3.25rem;
}

.client-message {
  resize: none;
  height: 13.25rem;
}

.inputs-item input::placeholder,
.client-message::placeholder {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  color: #bbbbbb;
  letter-spacing: -0.0625rem;
}

.required:focus:valid {
  outline: 1px solid #008000;
}

.required:focus:invalid {
  outline: 1px solid #ff0000;
}

.send-button {
  display: block;
  content: "";
  margin: 1.25rem auto 0;
  width: 15rem;
  height: 4.125rem;
  border-radius: 3px;
  background-color: rgb(254, 209, 54);
  font-size: 1.125rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
