.team {
  text-align: center;
  padding-bottom: 5rem;

  &__subtitle {
    @extend %subtitle;
    @extend %subtitle-black;
  }

  &__title {
    @extend %title;
    @extend %title-black;
    margin-bottom: 4.875rem;
  }

  &__description {
    font-family: $secondary-font;
    @include font-set(0.9375rem, 1.5rem);
    color: $secondary-dark-color;
    margin-bottom: 5.625rem;
    padding: 0 7.5rem;
  }

  &__list {
    @extend %flex-space-between;
  }

  &__item {
    &-name {
      font-size: 0.875rem;
      color: $primary-dark-color;
      margin-bottom: 0.5rem;
    }

    &-occupation {
      font-family: $secondary-font;
      @include font-set(0.9375rem, 1.5rem);
      font-weight: 300;
      color: $secondary-dark-color;
      font-style: italic;
    }

    &-underlay {
      background-color: $main--bcg-color-aqua;
      margin-bottom: 1.625rem;
    }

    &-img-container {
      position: relative;
      transition: all 0.3s linear;
    }

    &-overlay {
      position: absolute;
      width: 23.75rem;
      height: 29.375rem;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        360deg,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      );
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s linear;
    }

    &:hover {
      .team__item-overlay {
        visibility: visible;
        opacity: 1;
      }
    }
    
    &:hover {
      .team__item-img-container {
        transform: translate(-10px, -10px);
      }
    }
  }
}

/* SOCIALS */
.socials {
  display: flex;
  position: absolute;
  @extend %transform-center;

  &__item {
    @extend %flex-center;
    width: 3.5rem;
    height: 3.5rem;
    background-color: $main--bcg-color-sand;
    transition: all 0.3s linear;

    &:not(:last-child) {
      border-right: 1px solid rgba(243, 129, 129, 0.5);
    }

    &:hover {
      background-color: $main--bcg-color-coral;

      .socials__icon {
        fill: $primary-white-color;
      }
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: $main--bcg-color-coral;
    transition: all 0.3s linear;
  }
}
